





/*  */

.ul__list{
    list-style: none;
}
.li__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 520px;
    margin-bottom: 12px;
    padding: 12px;
}


.li__item h2{
    
    width: auto;
    height: auto;
    letter-spacing: 2px;
    font-size: 2.0rem;
    

}
.li__item span{
    font-size: 1.8rem;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .9em;
    
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
            transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: 'X';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    
    line-height: 0;
    
    -webkit-transition: all .2s;
            transition: all .2s;
}
[type="checkbox"]:checked + label{
    text-decoration: line-through;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #777;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* Accessibility */




/*
* Useless styles, just for demo design
*/

a[href^="https://www.creativejuiz"] {
color: #34495E;
text-decoration: underline;
}

h1 {
margin-top: 1em;
}

h2 {
margin-top: 0;
margin-bottom: 2em;
color: #CB22ED;
font-weight: normal;
}

form {
width: 120px;
margin: 0 auto 55px;
text-align: left;
}

div p:first-child {
font-weight: bold;
font-size: 1.2em;
}

p { 
color: #aaa;
}

p a {
color: inherit;
}

p + p {
margin-top: 3em;
}

form p {
margin: 15px 0;
color: #34495E;
}

.spanEraseButton{
    color: #666;
    font-size: 4em;
}
.spanEraseButton:hover{    
    color: red;
    cursor: pointer;
   
            
}
